<!DOCTYPE html>
<html>
<head>
    <title>Camera Feed Versions</title>
</head>
<body>
    <div>
        <h1>Processed Camera Feed</h1>
        <img src="http://127.0.0.1:5000/video_feed/0"><br>
        <a href="http://127.0.0.1:5000/video_feed/0">Smoother/singular view</a>
    </div>
    <div>
        <h1>Processed Mask</h1>
        <img src="http://127.0.0.1:5000/video_feed/1"><br>
        <a href="http://127.0.0.1:5000/video_feed/1">Smoother/singular view</a>
    </div>
    <div>
        <h1>Raw Color Mask</h1>
        <img src="http://127.0.0.1:5000/video_feed/2"><br>
        <a href="http://127.0.0.1:5000/video_feed/2">Smoother/singular view</a>
    </div>
</body>
</html>